
    # Middleware for ActiveAdmin
    config.middleware.use Rack::MethodOverride
    config.middleware.use ActionDispatch::Flash
    config.middleware.use ActionDispatch::Cookies
    config.middleware.use ActionDispatch::Session::CookieStore

    # Use regular scaffolding process
    config.app_generators.scaffold_controller = :scaffold_controller

    # This tells the precompile task to run without invoking Rails
    config.assets.initialize_on_precompile = false